@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); 

.homepage {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #282a36; 
  color: #f8f8f2;
}

.homepage .homepage-header {
  background-color: #44475a; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f8f8f2; 
  padding: 20px;
}

.homepage .content {
  display: flex;
  align-items: flex-start; 
  justify-content: center; 
  margin-top: 20px;
  width: 100%;
  max-width: 1600px; 
}

.homepage .left-text, .homepage .right-text {
  flex: 1; 
  padding: 20px;
  color: #f8f8f2;
  font-size: 16px; 
  max-width: 30%; 
  background-color: #44475a; 
  border-radius: 8px; 
  border: 1px solid #6272a4; 
  margin: 0 20px; 
}

.homepage .left-text h2, .homepage .right-text h2 {
  color: #50fa7b; 
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.homepage .animation-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex: 2; 
  margin: 0 20px; 
}

.homepage h1 {
  margin: 20px;
  color: #f8f8f2; 
}

.homepage h1:first-of-type {
  font-size: 36px; 
  font-weight: 700;
  color: #ff79c6; 
}

.homepage h1:nth-of-type(2) {
  font-size: 18px; 
  font-weight: 400;
  color: #8be9fd; 
}


.homepage .lottie-animation {
  max-width: 100%;
  max-height: 100%;
  width: 50vw; 
  height: 70vh;
  margin: 0 auto;
}

.homepage .small-animations {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.homepage .small-animations .lottie-animation {
  width: 20vw; 
  height: 20vh;
}

.homepage code {
  background-color: #44475a; 
  color: #f1fa8c; 
  padding: 2px 4px;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace; 
}

.start-button {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 700;
  color: #f8f8f2; 
  background-color: #50fa7b; 
  border: none;
  border-radius: 8px;
  text-decoration: none; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #45e66c; 
}
