.language-select-container {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
}

.language-select-container label {
  margin-right: 10px;
  font-size: 16px;
  color: #333;
}

.language-select-container select {
  padding: 10px 15px;
  font-size: 16px;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s;
}

.language-select-container select:hover {
  border-color: #888;
}

.language-select-container select:focus {
  border-color: #555;
}

.run-button-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.run-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.run-button:hover {
  background-color: darkgreen;
  transform: scale(1.05);
}

.run-button:disabled {
  background-color: darkgreen;
  cursor: not-allowed;
  transform: scale(1);
}

.editor-container {
  margin-top: 60px; /* Adjust this if necessary */
}

.theme-select-container {
  position: absolute;
  top: 20px;
  left: 280px; /* Adjust spacing between language and theme select containers */
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
}

.theme-select-container label {
  margin-right: 10px;
  font-size: 16px;
  color: #333;
}

.theme-select-container select {
  padding: 10px 15px;
  font-size: 16px;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s;
}

.theme-select-container select:hover {
  border-color: #888;
}

.theme-select-container select:focus {
  border-color: #555;
}

.stdin-container {
  margin-top: 20px;
}

.stdin-container label {
  font-size: 16px;
  color: #333;
  margin-right: 10px;
}

.stdin-container input {
  padding: 10px 15px;
  font-size: 16px;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.stdin-container input:hover,
.stdin-container input:focus {
  border-color: #555;
}
