/* CodeEditor.css */
.code-editor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .language-select-container {
    margin-bottom: 20px;
  }
  
  label {
    margin-right: 10px;
  }
  