/* EditorPage.css */
body {
  overflow: hidden; 
  margin: 0; 
  padding: 0; 
  height: 100%;
}

.editor-page {
  position: relative; 
  min-height: 100vh; 
  padding: 20px; 
  background-image: url('../Images/background.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}
.top-box {
  width: 90vw; 
  max-width: 90vw; 
  height: 9vh; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #333; 
  color: #f0f0f0; 
  margin: 2vh auto; 
  overflow: auto; 
}

.editor-box {
  width: 62vw; 
  max-width: 90vw; 
  height: 75vh; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #444; 
  color: #f0f0f0; 
  position: absolute;
  bottom: 8vh; 
  left: 50%; 
  transform: translateX(-50%); 
  overflow: auto; 
}
